body {
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff, #00000f, #0000f0,#000f00, #00f000, #0f0000, #f0ff0f);
}

h1{
    font-size: 100px;
    color: rgb(255,4,0);
    text-align: center;
}

img {
    width: 100%;
}

div{
    background-color:rgb(255, 0, 0);
}
